
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Site for Mobiles, Electronics, Furniture, Grocery, Lifestyle, Books & More. Best Offers!</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="img/flipkart.png" alt="">
            </div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html" target="_blank">Contact</a></li>
            </ul>
            <div class="search">
                <input type="text" name="" id="" placeholder="Search Here for brands, Product and more">
                <button class="btn">Search</button>
            
                
            </div>
        
            <div class="progress">
                
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="slider">
                <img src="https://source.unsplash.com/1600x500/?shopping,ecommerce" alt="">
            </div>

            <div class="card">
                <h2 class="my-2">Furniture Bestsellers</h2>
                <div class="cards">
                    <div class="card-item">
                        <img src="/tv img/mi 4a horizon edition.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/tv img/mi 5a.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/tv img/mi 5x.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
              

                    

                    <div class="card-item">
                        <img src="tv img/mi x series.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                           <p class="text-center">349
                            <strike>999</strike>
                            <span>65% off</span>
                           </p>
                           <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/tv img/one plus y1 100cm.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/tv img/Oneplus q1.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                           <p class="text-center">349
                            <strike>999</strike>
                            <span>65% off</span>
                           </p>
                           <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/tv img/Oneplus y1s.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/tv img/realme NEO.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/tv img/realme.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/tv img/sony 139 cm.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                           <p class="text-center">349
                            <strike>999</strike>
                            <span>65% off</span>
                           </p>
                           <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/tv img/sony bravia 180cm.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                           <img src="img/f.jpg" alt="" height="21">
                           <p class="text-center">349
                            <strike>999</strike>
                            <span>65% off</span>
                           </p>
                           <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/tv img/sony bravia.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                           <img src="img/f.jpg" alt="" height="21">
                           <p class="text-center">349
                            <strike>999</strike>
                            <span>65% off</span>
                           </p>
                           <p class="c" >Free delivery</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2 class="my-2">Join the cricket fun</h2>
                <div class="cards">
                    <div class="card-item">
                        <img src="/mobile img/iphone 14.jfif" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                           <img src="img/f.jpg" alt="" height="21">
                           <p class="text-center">349
                            <strike>999</strike>
                            <span>65% off</span>
                           </p>
                           <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/mobile img/iphone 13.jfif" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/mobile img/iphone 12.jfif" alt="" ;> 
                        <div class="lines">
                            <p class="text-center-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/mobile img/xr.webp" alt="" width="100px" height='200px';>
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/mobile img/samsung s21.webp" alt="" width="150px" height="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/mobile img/google 6a.jfif" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/mobile img/google-pixel-4a-ga02099-in-original-imafwyzmnfxzmv5q.webp" alt="" width="100px" height="200">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/mobile img/s22 ultra.webp" alt="" height="200px" width="174px" >
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/mobile img/oppo reno 8.webp" alt="" width="150px" height="198px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/mobile img/vivo t1.webp" alt="" width="150px" height="198px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/mobile img/vivo v23.webp" alt="" width="150px" height="198px"
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/mobile img/vivo v25.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <h2 class="my-2">Best Battery Phones</h2>
                <div class="cards">
                    <div class="card-item">
                        <img src="/smartwatch/apple watch se.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/noise icon.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/apple watch series 7.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/Apple watch series 8.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                           <p class="text-center">349
                            <strike>999</strike>
                            <span>65% off</span>
                           </p>
                           <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/dizo watch r talk.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/fire-bolt talk.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/Ambrane.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/noies core 2 .128.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/smartwatch/noise colorfit.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/smartwatch/noise colorfit.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/noise evolve 2.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/smartwatch/samsung galaxy watch 4.webp" alt="" width="200px">
                        <div class="lines">
                            <p class="text-center my-1">Cricket Bats</p>
                            <img src="img/f.jpg" alt="" height="21">
                            <p class="text-center">349
                             <strike>999</strike>
                             <span>65% off</span>
                            </p>
                            <p class="c" >Free delivery</p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </main>
    <footer class="flex-all-center">
        <p>Copyright &copy; MyCart.com </p>
    </footer>
</body>

</html>